.main-nav {
  list-style-type: none;
  border-bottom: 1px solid black;
  text-decoration: none;
  padding-bottom: 10px;
}

.nav-links,
.logo {
  text-decoration: none;
  font-size: 18px;;
  display: inline-block;
}

.main-nav li {
  margin: 0 auto;
  text-align: center;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}